{# pied de page commun pour les pages du TwigController #}
<footer style="box-shadow: 0 50vh 0 50vh #000;">
	<p style="text-align:center; background-color: rgb(133, 138, 136); color: white; font-weight: bold; ">
	Armors provided on this website are medieval armors for medieval fight only, if your duck goes against a truck we don't guarantee his survival. </ br>Thanks for your understanding.
	</p>
</footer